
*.xcuserstate
GitHubExplorer.xcodeproj/project.xcworkspace/xcuserdata/asd.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
GitHubExplorer.xcodeproj/project.xcworkspace/xcuserdata/asd.xcuserdatad/UserInterfaceState.xcuserstate
GitHubExplorer/.DS_Store
